@{
    ViewBag.Controller = "Home";
    ViewBag.CurrentPage = "Careers";
    ViewBag.Title = "Careers";
    ViewBag.PageTitle = "Careers";
    ViewBag.Keyword = "";
    ViewBag.Description = "";

}
@Html.Partial("_TopBannerBreadCrumb")

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Experienced Career Roles</h1>
                <p>
                    AMCA was founded in 2010 with the intention of primarily serving as an auditing firm. Our commitment to
                    excellence and in-depth knowledge of the industry has aided us in establishing ourselves as a pioneer in
                    the field. We have served many companies in both the public and private sectors throughout our decade-long
                    presence. As one of the leading audit firms in Dubai, we provide a full range of accounting, audit, and
                    taxation services.
                </p>
                <p>
                    We're always looking for talented, driven individuals who can bring new skills to what we do. We hire
                    people with relevant experience across our company to assist us to reach our ambitious goals. We try to
                    provide a positive work environment, ongoing professional growth, a commitment to work-life balance, and
                    equal opportunity for all of osur employees. You can explore all open roles at the organization if you're
                    an experienced professional looking to join our team. You can also use our Jobs Network to submit your
                    resume. If you're a good fit for any future positions, we'll contact you.
                </p>
            </div>
        </div>
        <div class="accordion mt-3" id="accordionJobs">
            <div class="accordion-item">
                <div class="accordion-header" id="jobOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <div class="job-all-list theme-box">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    <h3><span class="job-name">Full Stack Developer</span></h3>
                                    <div class="">
                                        <span class="badge">Full Time</span>
                                        <span class="badge">Posted On: Feb 01, 2022</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-md-flex d-block  justify-content-end align-items-center">
                                        <div class="location me-3 py-2 py-md-0">Dubai <small class="d-block">UAE</small></div>
                                        <div class="button-job">
                                            <span class="btn btn-primary" role="button">View and Apply</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="jobOne" data-bs-parent="#accordionJobs" style="">
                    <div class="accordion-body p-0">
                        <section class="theme-box rounded-0">
                            <div class="row">
                                <div class="col-md-12" data-aos="" data-aos-offset="300">
                                    <h4>Requirements</h4>

                                    <ul class="theme-list">
                                        <li>Bachelor’s degree in computer science or equivalent</li>
                                        <li>Minimum 2 years of experience required in ASP .Net MVC website</li>
                                        <li>Minimum 2 years of experience required in MS SQL Server</li>
                                        <li>Experience in writing Stored Procedures</li>
                                        <li>Knowledge of .NET Core will be preferred</li>
                                        <li>Extensive experience building web applications using HTML5 and CSS</li>
                                        <li>Good knowledge of JavaScript</li>
                                    </ul>

                                    <h4>Duties and Responsibilities:</h4>

                                    <ul class="theme-list">
                                        <li>Website and software application designing, building, or maintaining.</li>
                                        <li>Using scripting or authoring languages, management tools, content creation tools, applications, and digital media.</li>
                                        <li>Conferring with teams to resolve conflicts, prioritize needs, develop content criteria, or choose solutions.</li>
                                        <li>Directing or performing Website updates.</li>
                                        <li>Developing or validating test routines and schedules to ensure that test cases mimic external interfaces and address all browser and device types.</li>
                                        <li>Editing, writing, or designing Website content, and directing team members who produce content.</li>
                                        <li>Maintaining an understanding of the latest Web applications and programming practices through education, study, and participation in conferences, workshops, and groups.</li>
                                        <li>Back up files from Web sites to local directories for recovery.</li>
                                        <li>Identifying problems uncovered by customer feedback and testing and correcting or referring problems to appropriate personnel for correction.</li>
                                        <li>Evaluating code to ensure it meets industry standards, is valid, is properly structured, and is compatible with browsers, devices, or operating systems.</li>
                                        <li>Determining user needs by analyzing technical requirements.</li>
                                    </ul>
                                    <form action="/Career/SubmitJob" class="primary-form mt-3" method="post">
                                        <input value="Full Stack Developer" class="form-control" id="JobTitle" name="JobTitle" readonly="readonly" type="hidden">
                                        <input type="submit" class="btn btn-primary p-3" value="Apply for this position">
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            @*accordion-item repeated end*@
            <div class="accordion-item">
                <div class="accordion-header" id="jobTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <div class="job-all-list theme-box">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    <h3><span class="job-name">Digital Marketing Specialist</span></h3>
                                    <div class="">
                                        <span class="badge">Full Time</span>
                                        <span class="badge">Posted On: Feb 01, 2022</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-md-flex d-block  justify-content-end align-items-center">
                                        <div class="location me-3 py-2 py-md-0">Dubai <small class="d-block">UAE</small></div>
                                        <div class="button-job">
                                            <span class="btn btn-primary" role="button">View and Apply</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="jobTwo" data-bs-parent="#accordionJobs" style="">
                    <div class="accordion-body p-0">
                        <div class="theme-box rounded-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <p><strong>We are searching for a talented Digital Marketing Specialist to join our team. Who will be responsible for growing revenue through digital media through Content writing and executing marketing campaigns.</strong></p>
                                </div>
                                <div class="col-md-12 jobDesc">
                                    <h4 class="subHeading"><strong>Qualifications:</strong></h4>
                                    <ul class="theme-list">
                                        <li>Experience with SEO and SEM Strong written, verbal and marketing skills</li>
                                        <li>Should be a SEO friendly content writer</li>
                                        <li>Educational qualification: Bachelor's degree or equivalent</li>
                                        <li>Minimum 1-2 years of experience required.</li>
                                    </ul>
                                    <h4 class="subHeading"><strong>Responsibilities</strong></h4>
                                    <ul class="theme-list">
                                        <li>Assist the team in the development of the overall digital marketing strategy</li>
                                        <li>Implement digital marketing activities across a broad range of digital marketing channels (SEO, SEM, Social Media, Email, Mobile, Display)</li>
                                        <li>Manage the creation of relevant and engaging digital content for publishing onto various digital platforms</li>
                                        <li>Manage social media marketing campaigns</li>
                                        <li>Analyze digital marketing analytics reports and share insights with the team to develop optimization plans</li>
                                        <li>Stay abreast of emerging digital tools and platforms, digital marketing trends, new technologies, and share insights with the rest of the team</li>
                                        <li>Conduct research on market trends, brand’s audiences and competitors, and end-to-end consumer journey to drive engagements and conversions</li>
                                        <li>Write clear marketing copy to promote our services</li>
                                        <li>Prepare well-structured drafts using Content Management Systems</li>
                                        <li>Coordinate with marketing and design teams to illustrate articles</li>
                                        <li>Ensure all-around consistency (style, fonts, images and tone)</li>
                                        <li>Update website content as needed</li>
                                        <li>Evaluate analytics to adjust content as needed</li>
                                        <li>Conduct in-depth research on industry-related topics in order to develop original content.</li>
                                        <li>Develop content for blogs, articles, product descriptions, social media, and the company website</li>
                                        <li>Edit and polish existing content to improve readability</li>
                                        <li>Create compelling headlines and body copy that will capture the attention of the target audience</li>
                                        <li>Utilize the industry best practices and familiarity with the organization's mission to inspire ideas and content</li>
                                        <li>Develop related content for multiple platforms, such as websites, email marketing, product descriptions, videos, and blogs</li>
                                        <li>Communicate and cooperate with web publishers</li>
                                        <li>Ensure timely delivery of all materials</li>
                                    </ul>

                                    <form action="/Career/SubmitJob" class="primary-form mt-3" method="post">
                                        <input value="Digital Marketing Specialist" class="form-control" id="JobTitle" name="JobTitle" readonly="readonly" type="hidden">
                                        <input type="submit" class="btn btn-primary p-3" value="Apply for this position">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*accordion-item repeated end*@
            <div class="accordion-item">
                <div class="accordion-header" id="jobThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <div class="job-all-list theme-box">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    <h3><span class="job-name">SEO Experts</span></h3>
                                    <div class="">
                                        <span class="badge">Full Time</span>
                                        <span class="badge">Posted On: Feb 01, 2022</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-md-flex d-block  justify-content-end align-items-center">
                                        <div class="location me-3 py-2 py-md-0">Dubai <small class="d-block">UAE</small></div>
                                        <div class="button-job">
                                            <span class="btn btn-primary" role="button">View and Apply</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="jobThree" data-bs-parent="#accordionJobs">
                    <div class="accordion-body p-0">
                        <section class="theme-box rounded-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Requirements</h4>

                                    <ul class="theme-list">
                                        <li>Bachelor's degree or equivalent</li>
                                        <li>Minimum 1-2 years of experience required in SEO, SEM &amp; PPC</li>
                                        <li>Experience with SEO industry programs, such as Google Analytics &amp; Google Search Console</li>
                                        <li>Knowledge of keyword research and data mining tools</li>
                                        <li>Understanding of search engine algorithms and ranking methods</li>
                                        <li>Should be a SEO friendly content writer</li>
                                    </ul>

                                    <h4>Duties and Responsibilities:</h4>

                                    <ul class="theme-list">
                                        <li>Manage and maintain the company’s owned media including websites, mobile apps, and email/CRM software</li>
                                        <li>Manage SEO campaigns</li>
                                        <li>SEO friendly content writer</li>
                                        <li>Use SEO guidelines to increase web traffic</li>
                                        <li>Perform proofreading and editing blog posts before publication</li>
                                        <li>Develop optimization strategies that increase the company's website search engine results rankings</li>
                                        <li>When conducting paid search campaigns, the SEO Specialist will execute tests, collect and analyze data and results, identify trends and insights in order to achieve maximum ROI</li>
                                        <li>Manage the expenses of SEO campaigns, staying on budget, estimating monthly costs and reconciling differences</li>
                                        <li>Work with editorial and marketing teams to drive SEO in content creation and content marketing</li>
                                        <li>Take responsibility for page optimization for search engine marketing</li>
                                        <li>Perform ongoing keyword research, discovery, and optimization for new SEO keywords to use throughout the company website and marketing materials</li>
                                        <li>Research and implement search engine optimization recommendations</li>
                                        <li>Create and execute link building strategy</li>
                                        <li>Change website architecture, content, linking and other factors to improve SEO positions for target keywords</li>
                                        <li>Collaborate with others within the marketing department to manage SEO strategyWrite compelling and high-quality website content, including blog posts and page descriptions to improve website search results</li>
                                    </ul>
                                    <form action="/Career/SubmitJob" class="primary-form mt-3" method="post">
                                        <input value="SEO Experts" class="form-control" id="JobTitle" name="JobTitle" readonly="readonly" type="hidden">
                                        <input type="submit" class="btn btn-primary p-3" value="Apply for this position">
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            @*accordion-item repeated end*@
            <div class="accordion-item" id="itemFour">
                <div class="accordion-header" id="jobFour">
                    @*to make active job just remove class disabled with accordion-button and remove disabled attribute *@
                    <button class="accordion-button collapsed disabled" disabled type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <div class="job-all-list theme-box">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    <h3><span class="job-name">Graphic Designer</span></h3>
                                    <div class="">
                                        <span class="badge">Full Time</span>
                                        <span class="badge">Posted On: Feb 01, 2022</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-md-flex d-block  justify-content-end align-items-center">
                                        <div class="location me-3 py-2 py-md-0">Dubai <small class="d-block">UAE</small></div>
                                        <div class="button-job">
                                            <span class="btn btn-secondary disabled" disabled role="button">View and Apply</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                @*to make active job just remove from class disabled with accordion-collapse*@
                <div id="collapseFour" class="accordion-collapse collapse disabled" aria-labelledby="jobFour" data-bs-parent="#accordionJobs">
                    <div class="accordion-body p-0">
                        <section class="theme-box rounded-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        TAMCA is one of the leading auditing firm in Dubai. TAMCA was founded in 2020 with the aim of primarily serving as an auditing firm. Our dedication to excellence and in-depth knowledge of the industry have aided us in establishing ourselves as industry pioneers. We have served numerous organizations in the public and private sectors over the course of our decade-long presence. All our auditors are internationally trained and have several years of experience across many jurisdictions throughout the world.
                                    </p>
                                    <p>Are you a recent graduate? We are looking for individuals who are passionate and driven to join our expanding Finance team!</p>
                                    <p>
                                        We provide a challenging internship program that attracts talent from top academic institutions and students with backgrounds in Management, Economics, and Commerce.
                                        The program is designed and structured as an immersion-based learning environment that fosters a hands-on, delivery-oriented, and challenging environment in which candidates
                                        can work individually and in groups on specific, measurable, and time-bound projects with clear deliverables.
                                    </p>
                                    <p>
                                        Throughout the project, candidates will have the opportunity to interact with our management teams and thought leaders from across the organization, as well as learn about the
                                        various aspects of the financial services industry. During this time, candidates will gain live industry experience and in-depth practical knowledge that will prepare them for
                                        a successful career in the field.
                                    </p>
                                    <h2 class="thirLheading"><strong>Who can apply:</strong></h2>
                                    <p>Only those students or freshers can apply who:</p>
                                    <ul class="theme-list">
                                        <li>are available for full time (in-office) internship</li>
                                        <li>have relevant skills and interests</li>
                                        <li>are available for duration of 6 months</li>
                                        <li>have already graduated or are currently in any year of study</li>
                                    </ul>

                                    <h2 class="thirLheading"><strong>Requirements</strong></h2>
                                    <ul class="theme-list">
                                        <li>In-depth understanding of auditing and control practices.</li>
                                        <li>Present audit findings and find ways to increase compliance and efficiency.</li>
                                        <li>Basic knowledge in MS Office (especially Excel).</li>
                                        <li>Good soft skills and team skills.</li>
                                        <li>Strong English communication skills in writing in speaking.</li>
                                        <li>Able to work under pressure proficiently. Integrity and reliability</li>
                                    </ul>
                                    <form action="/Career/SubmitJob" class="primary-form mt-3" method="post">
                                        <input value="Graphic Designer" class="form-control" id="JobTitle" name="JobTitle" readonly="readonly" type="hidden">
                                        <input type="submit" class="btn btn-primary p-3" value="Apply for this position">
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            @*accordion-item repeated end*@

            <div class="accordion-item" id="itemFive">
                <div class="accordion-header" id="jobFive">
                    @*to make inactive job just put class disabled with accordion-button and add disabled attribute *@
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <div class="job-all-list theme-box">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md-6">
                                    <h3><span class="job-name">Internship Jobs in Dubai</span></h3>
                                    <div class="">
                                        <span class="badge">Full Time</span>
                                        <span class="badge">Posted On: Feb 01, 2022</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-md-flex d-block  justify-content-end align-items-center">
                                        <div class="location me-3 py-2 py-md-0">Dubai <small class="d-block">UAE</small></div>
                                        <div class="button-job">
                                            <span class="btn btn-primary" disabled role="button">View and Apply</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                @*to make inactive job just put class disabled with accordion-collapse*@
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="jobFive" data-bs-parent="#accordionJobs">
                    <div class="accordion-body p-0">
                        <section class="theme-box rounded-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        TAMCA is one of the leading auditing firm in Dubai. TAMCA was founded in 2020 with the aim of primarily serving as an auditing firm. Our dedication to excellence and in-depth knowledge of the industry have aided us in establishing ourselves as industry pioneers. We have served numerous organizations in the public and private sectors over the course of our decade-long presence. All our auditors are internationally trained and have several years of experience across many jurisdictions throughout the world.
                                    </p>
                                    <p>Are you a recent graduate? We are looking for individuals who are passionate and driven to join our expanding Finance team!</p>
                                    <p>
                                        We provide a challenging internship program that attracts talent from top academic institutions and students with backgrounds in Management, Economics, and Commerce.
                                        The program is designed and structured as an immersion-based learning environment that fosters a hands-on, delivery-oriented, and challenging environment in which candidates
                                        can work individually and in groups on specific, measurable, and time-bound projects with clear deliverables.
                                    </p>
                                    <p>
                                        Throughout the project, candidates will have the opportunity to interact with our management teams and thought leaders from across the organization, as well as learn about the
                                        various aspects of the financial services industry. During this time, candidates will gain live industry experience and in-depth practical knowledge that will prepare them for
                                        a successful career in the field.
                                    </p>
                                    <h2 class="thirLheading"><strong>Who can apply:</strong></h2>
                                    <p>Only those students or freshers can apply who:</p>
                                    <ul class="theme-list">
                                        <li>are available for full time (in-office) internship</li>
                                        <li>have relevant skills and interests</li>
                                        <li>are available for duration of 6 months</li>
                                        <li>have already graduated or are currently in any year of study</li>
                                    </ul>

                                    <h2 class="thirLheading"><strong>Requirements</strong></h2>
                                    <ul class="theme-list">
                                        <li>In-depth understanding of auditing and control practices.</li>
                                        <li>Present audit findings and find ways to increase compliance and efficiency.</li>
                                        <li>Basic knowledge in MS Office (especially Excel).</li>
                                        <li>Good soft skills and team skills.</li>
                                        <li>Strong English communication skills in writing in speaking.</li>
                                        <li>Able to work under pressure proficiently. Integrity and reliability</li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            @*accordion-item repeated end*@

        </div>

    </div>
</section>

