@{
    ViewBag.Controller = "Home";
    ViewBag.CurrentPage = "Industries";
    ViewBag.Title = "Industries";
    ViewBag.PageTitle = "Industries";
    ViewBag.Keyword = "";
    ViewBag.Description = "";

}
@Html.Partial("_TopBannerBreadCrumb")
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Industries we have Worked on</h1>
                <p>
                    A member of our staff would always be happy to assist you if you have any questions or
                    concerns. Please feel free to contact us by phone or email, and we will respond as soon as
                    possible.
                </p>
                <p>
                    In our decade long presence, we provide a wide range of assurance services to companies in
                    the private and public sectors. We are an approved auditor with the Ministry of Economy &
                    authorized tax agency with the Federal Tax Authority. We liaise with all free zone &
                    mainland authorities across the UAE.
                </p>
                <h3>We specialize in:</h3>
                <ul class="theme-list">
                    <li>IT Consulting</li>
                    <li>Web Developing</li>
                    <li>SEO</li>
                    <li>VAT Consulting</li>
                    <li>Audit &amp; Assurance</li>
                    <li>Accounting &amp; Bookkeeping</li>
                    <li>Liquidation or De-registration of a Company</li>
                </ul>
                <div class="insdustries-icon-row">
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/automobiles.svg" alt="automobiles" />
                        <h3>Automobiles</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/banking.svg" alt="banking" />
                        <h3>Banking and Capital Markets</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/constructionR.svg" alt="constructionR" />
                        <h3>Constructions</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/chemical.svg" alt="chemical" />
                        <h3>Chemical</h3>
                    </div>
                </div>
                <!-- insdustries-icon-row end -->
                <div class="insdustries-icon-row">
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/consumer.svg" alt="consumer" />
                        <h3>Consumer Products & Retail</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/distribution.svg" alt="distribution" />
                        <h3>Distribution</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/education.svg" alt="education" />
                        <h3>Education</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/financialS.svg" alt="financialS" />
                        <h3>Financial</h3>
                    </div>
                </div>
                <!-- insdustries-icon-row end -->
                <div class="insdustries-icon-row">
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/entertainment.svg" alt="entertainment" />
                        <h3>Entertainment</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/foodCo.svg" alt="foodCo" />
                        <h3>Food & Beverages</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/govt-public.svg" alt="govt-public" />
                        <h3>Government and Public Sector</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/hotel.svg" alt="hotel" />
                        <h3>Hotel, Tourism and Leisure</h3>
                    </div>
                </div>
                <!-- insdustries-icon-row end -->
                <div class="insdustries-icon-row">
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/healthcare.svg" alt="healthcare" />
                        <h3>Healthcare</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/hospitality.svg" alt="hospitality" />
                        <h3>Hospitality</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/industriesMet.svg" alt="industriesMet" />
                        <h3>Insurance</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/insurance.svg" alt="insurance" />
                        <h3>Industrial Metals & Mining</h3>
                    </div>
                </div>
                <!-- insdustries-icon-row end -->
                <div class="insdustries-icon-row">
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/life-sc.svg" alt="life-sc" />
                        <h3>Life Sciences</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/industriesMet.svg" alt="industriesMet" />
                        <h3>Mining and Metals</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/manufacturing.svg" alt="Manufacturing" />
                        <h3>Manufacturing</h3>
                    </div>
                    <div class="insdustries-icon">
                        <img src="../../images/indsutries-icon/technologyM.svg" alt="technologyM" />
                        <h3>Media</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



