<section class="query-home-section with-overlay">
    <div class="container">
        <div class="pb-3">
            <h2 class="section-title display-4">Get in touch <span class="text-theme"> with Us</span></h2>
            <h5>Are you having problems with your business? </h5>
            <p class="text-theme">Feel free to contact us without hesitating; we have an expert team for all your queries.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h2 class="section-title">Location & <span class="text-theme">Contact Details</span></h2>
                <div class="row py-5">
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="../../Images/icon/location-100.svg" width="64" height="64" alt="location ITAMCA" />
                            </div>
                            <div class="col-9">
                                <h4>Our Location</h4>
                                <p class="text-theme">Unit No. 1801, Cluster T Fortune Executive Tower JLT, DMCC, Dubai, UAE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="../../Images/icon/clock-64.svg" width="64" height="64" alt="location ITAMCA" />
                            </div>
                            <div class="col-9">
                                <h4>Working Hour</h4>
                                <p class="text-theme">
                                    8:00 AM to 6:00 PM
                                    <span class="d-block">Monday to Saturday</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="../../Images/icon/email-64.svg" width="64" height="64" alt="email ITAMCA" />
                            </div>
                            <div class="col-9">
                                <h4>Email Us</h4>
                                <a href="mailto:info@amcaauditing.com" class="text-primary" title="">
                                    info@amcaauditing.com
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="col-3">
                                <img src="../../Images/icon/phone-64.svg" width="64" height="64" alt="phone ITAMCA" />
                            </div>
                            <div class="col-9">
                                <h4>Call Us</h4>
                                <a href="tel:+97145654128" title="" class="text-primary"> +971 4 565 4128</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-5">
                <h2 class="section-title">Feel Free to <span class="text-theme">Contact Us</span></h2>
                @Html.Partial("_QueryForm")
            </div>
        </div>
    </div>
</section>
